<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="images/图标/LOGO.png" rel="shortcut icon" type="image/x-icon" />
    <title>美术史 - 国内美术史</title>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css'><!--顶部样式调用-->
    <link rel="stylesheet" href='/stylesheets/bootstrap-theme.min.css'>
    <link rel="stylesheet" href='stylesheets/history/Chinese.css' />

</head>

<body>

<nav class="nav" id="nav">
    <ul class="nav nav-tabs" >
        <li class="col-md-6">
            <img src="images/图标/LOGO2.png" width="60px" class="glyphicon" /><span></span><span style="font-size: 20px;font-family:Blackadder ITC;">&nbsp Art Research Institute</span><!--左标签-->
            <span> &nbsp &nbsp <img src="images/图标/电话咨询.png" width="230px" class="glyphicon" /></span>
        </li>

        <!--首页开始-->
        <li style="padding-top: 8px;" ><a onclick="window.open('/index')"><span><img src="images/图标/home.png" width="20px" class="Icon" /></span>&nbsp;&nbsp;首页 </a></li>
        <li style="padding-top: 8px;" ><a href="/Whistory"><span><img src="images/图标/Westernwork.png" width="20px" class="Icon" /></span>&nbsp;&nbsp;西方绘画史</a></li>
        <li style="padding-top: 8px;" ><a href="/Chistory"><span><img src="images/图标/Chinesework.png" width="20px" class="Icon" /></span>&nbsp;&nbsp;中国绘画史</a></li>
    </ul>

</nav>

<!--内容-->
<div class="container">
    <div class="Title">
        <p >中国绘画史</p>
        <div class="images">
            <div>
                <a onclick="window.open('images/绘画史/Chinese/1.png ')"><img src=" images/绘画史/Chinese/1.png " width="300px" /></a>
            </div>
            <div>
                <a onclick="window.open('images/绘画史/Chinese/2.png ')"><img src=" images/绘画史/Chinese/2.png " width="300px" /></a>
            </div>
            <div>
                <a onclick="window.open('images/绘画史/Chinese/3.png ')"><img src=" images/绘画史/Chinese/3.png " width="300px" /></a>
            </div>
        </div>
    </div>
    <div class="case">
        <div class="capacity">
            <p>
                中国的绘画史可以上溯到原始社会的新石器时代，距今至少有七千余年的历史。
                最初的中国绘画，是画在陶器、地面、和岩壁上的，渐而发展到画在墙壁、绢、和纸上。
            </p>
            <p>
                使用的基本工具是毛笔和墨，以及天然矿物质颜料。在无数画家不断探索、创新的努力之下，
                逐渐形成了鲜明的民族风格和民族气派，并有着自己独立的绘画美学体系。
            </p>
        </div>

        <div class="center">
            <div class="catalog">
                <div class="title" id="title">
                    <p>目录</p>
                </div>
                <form>
                    <ul class="formone">
                        <li><a href="#primary-one">历史简述</a></li>
                        <li style="padding-top: 5px;"><a href="#primary-two">基本概况</a></li>
                        <li style="padding-top: 5px;"><a href="#primary-the">发展历史</a></li>
                    </ul>
                </form>
            </div>

            <!--            第一   开始-->
            <div class="body-text">
                <div class="primary" id="primary-one">
                    <p class="component"><a href="#title">历史简述 </a> </p>
                    <!--                    内容-->
                    <div class="text">
                        <div class="file">
                            <p>从山东、甘肃、内蒙古、新疆以及各地的原始岩画及1986年发现于甘
                                肃秦安大地湾原始地画来看，它的历史已不下5000年。以汉族为主包
                                括各少数民族在内的画家和匠师，创造了具有鲜明民族风格和丰富多彩
                                的形式手法，形成独具特色的中国传统绘画。明清以来，特别是辛亥革
                                命以后，随着封建社会的崩溃，外来绘画艺术不断传入，丰富了中国绘画
                                的体裁。中外艺术交流日益频繁，使画家从中得到吸收和借鉴，中国绘画
                                创作发生了前所未有的变化，油画、水彩画、漫画、宣传画等相继发展
                                起来，特别是中华人民共和国建立以后，各个画种都展示出新的面貌。
                            </p>
                        </div>
                        <div class="img">
                            <a onclick="window.open('images/绘画史/Chinese/4.png ')"><img src=" images/绘画史/Chinese/4.png " width="300px" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--            第一   结束-->

            <!--            第二  开始-->
            <div class="body-text-two">
                <div class="primary" id="primary-two">
                    <p class="component"><a href="#title">基本概况 </a> </p>
                    <!--                    内容-->
                    <div class="text">
                        <div class="file">
                            <p>
                                有关中国绘画的起源问题，像有关中国历史的起源一样，令人不可琢磨。
                                究竟中国的绘画开始于何时？何地？是何人所创造？这一谜团千年以来一直
                                萦绕在历代美术史研究者的思绪中。唐代的张彦远在他的开创性著作《历代
                                名画记》中，将中国绘画的起源追溯到传说时代，指出那时的象形文字便是
                                书写与绘画的统一。而在他看来，图形与文字的脱离，才使得绘画成为一门专
                                门的艺术，探讨绘画技巧的工作则晚至秦汉才开始，魏晋时名家的出现，才
                                标志着绘画臻于成熟。这1000多年前提出的有关早期中国绘画发展的理论至
                                今仍基本成立。所不同的是现代考古发掘出土了大量的史前和历史早期绘画
                                形象的实物，不断增加着我们对早期绘画艺术的了解。中国新石器时代的造
                                型艺术，在彩陶及绘画、陶塑和雕刻方面，均有一定的成就。
                            </p>
                            <p>
                                我们习惯上把从公元前21世纪建立的夏开始，经过商、西周直到到春秋
                                、战国的这一时间段统称为先秦。由于铜器和铁器的相继发明和推广，加
                                上社会分工的进一步扩大，社会生产力显著提高，各种手工业得到了迅速
                                发展。除了为礼教服务的青铜艺术、商周的玉石雕刻及战国的彩漆木雕以
                                外，寓有兴废之诫的庙堂壁画及人物肖像画，受到了先秦统治者的普遍重
                                视。但直到本世纪初，对于先秦绘画的研究还只是凭借着那些并不完全和丰
                                富的记载进行的。在长沙等出土的帛画与漆画，为探讨先秦绘画艺术的面貌
                                ，提供了极其珍贵的实物资料。
                            </p>

                        </div>
                        <div class="img" style="margin-top: 20px;">
                            <a onclick="window.open('images/绘画史/Chinese/5.png ')"><img src=" images/绘画史/Chinese/5.png " width="300px" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--            第二   结束-->
            <!--            第二  开始-->
            <div class="body-text-three">
                <div class="primary" id="primary-the">
                    <p class="component" style="z-index: 999;"><a href="#title">发展历史 </a> </p>
                </div>
            </div>
            <!--            第二   结束-->

            <!--            第三 开始-->
            <div class="body-text-three">
                <div class="primary" id="primary-the" >
                    <!--                    内容-->
                    <div class="text-the">
                        <div class="file-the">
                            <p>
                                <strong>史前绘画 </strong></br>
                                我们对史前绘画的了解是从出土的彩陶及遍布全国的岩画遗存中得来的，而今天的我们有理由相信，这些作品的创作大多出于宗教和巫术的目的，并不是出于审美和欣赏的需要。
                            </p>
                            <p>
                                <strong> 绘画的萌芽</strong></br>
                                石器时代是中国绘画的萌芽时期，伴随着石器制作方法的改进，原始的工艺美术有了发展。但在若干年以前，我们所掌握的中国绘画的实例还只是那些描画在陶瓷器皿上的新石器时代的纹饰。但，在中国的许多省份发现了岩画，使得史学家们将中国绘画艺术的起源推前至旧石器时代。在这些众多的发现中，也包括了许多描绘人的图像，有些堪称宏幅巨制。内蒙古阴山岩画就是最早的岩画之一。在那里，我们的先人们在长达一万年左右的时间内创作了许多这类图像，这些互相连接的图像把整个山体连变成了一条东西长达300公里的画廊。据推测，是宗教或巫术的感召促使先人们不辞辛劳地创作了这些图像。类似的图像还可以在苏北的连云港孔望山将军崖岩画遗址中见到。
                            </p>
                            <p>
                                <strong>新石器时代的绘画艺术 </strong></br>
                                探讨新石器时代的绘画，我们仍然要把目光投向那些地处边远地区的神秘岩画。在云南沧源发现的岩画反映了人类的活动，包括狩猎、舞蹈、祭祀和战争。岩画的构图更趋于复杂，所表现的内容也由单个的物体发展为互相关联的具有动感的人。它们的存在使我们看到了中国绘画发展的一个重要时期。当然，这个时期的“艺术家”们在绘制岩画的时候并没有任何的边界的限制，岩面也并没有作任何的处理，它们的创作是无拘无束的。
                                这一切的改变源自于陶器和木结构建筑的出现，具有创造力和想象力的艺术家们马上就发现这些材料是绝好的作画之处，于是，缤纷的色彩和丰富的纹样出现在这些器物上。以质朴明快、绚丽多彩为特色的仰韶文化与马家窑文化的彩陶图案，是我国先民的杰出创造。此外，大汶口文化、红山文化、河姆渡文化等，也有一定数量的彩陶。仰韶类型的彩陶以在西安出土的半坡陶盆《人面鱼纹盆》最具特色，也最耐人寻味，关于这种图案具体的含意一直在猜测之中。庙底沟类型的彩陶的图像中最引人注目的是绘制于陶缸上的《鹳鸟石斧图》，出土于河南临汝闫村。该图以写实手法所描绘的鸟、鱼及斧据说代表了鹳氏族兼并鱼氏族的历史事件。
                            </p>
                            <p>
                                <strong>先秦绘画 </strong></br>
                                在整个“先秦”时代中，春秋以前属于奴隶制社会，战国以后则进入了封建社会。伴随着社会分工的扩大，各种手工业得到了极大的发展，出现了所谓的“青铜文明”。统治阶级的需要带动了美术各门类的发展，绘画当然也不例外，有了长足的发展。但是，我们今天能够见到的先秦绘画遗迹少之又少，造成这种现象的原因被推测为大部分的绘画都绘制在了易于腐烂的木质或者布帛上面。在商代的多处墓葬中发现了残存的彩绘布帛，在商代王室的墓葬中更是发现了很多的木质品上的漆画残留。可见，用漆作为颜料绘制器物在当时已很广泛了，常用的黑、红两种基本色的并置形成了强烈的对比。据说，那时的漆绘制品经常是与铮亮的青铜器以及白色的陶器摆在一起的，极富观赏性。在殷墟也曾发现过建筑壁画的残块，以红、黑两色在白灰墙皮上绘出的卷曲对称的图案，颇有装饰趣味。西周、春秋、战国时期都有庙堂壁画创作的情况被记载下来，楚国屈原著名作品的《天问》就是在观看了楚先王庙堂的壁画后有感而作的。　幸运的是，在长沙的楚墓中先后出土了两幅战国时期的带有旌幡性质的帛画，它们都属于公元前3世纪的作品。两画描绘的都是墓主的肖像，一幅为妇人，其上方绘有飞腾的龙凤；另一幅则是一位有身份的男子，驾驭着一条巨龙或龙舟。墨线勾勒的侧面肖像及伴有象征意义的动物是两画的相同之处，所不同的是《人物御龙图》所表现出来的画家技巧要熟练了许多。
                            </p>
                            <p>
                                <strong>秦汉绘画 </strong></br>
                                秦汉时期是中国民族艺术风格确立与发展的极为重要的时期。公元前221年，秦始皇统一中国后在政治、文化、经济领域的一系列改革使得社会产生了巨大的变化。为了宣扬功业，显示王权而进行的艺术活动，在事实上促进了绘画的发展。西汉统治者也同样重视可以为其政治宣传和道德说教服务的绘画，在西汉的武帝、昭帝、宣帝时期，绘画变成了褒奖功臣的有效方式，宫殿壁画建树非凡。东汉的皇帝们同样为了巩固天下，宣扬“天人感应”论及“符瑞”说，祥瑞图像及标榜忠、孝、节、义的历史故事成为画家的普遍创作题材。汉代厚葬习俗，使得我们今天可以从陆续发现的壁画墓、画像石及画像砖墓中见到当时绘画的遗迹。秦汉时代艺术以其深沉雄大的气魄，在中国美术史上放射着夺目的光彩。
                            </p>
                            <p>
                                <strong>绘画艺术 </strong></br>
                                秦汉时代的绘画艺术，大致包括宫殿寺观壁画、墓室壁画、帛画等门类。
                            </p>
                            <p>
                                <strong> 一、 宫殿寺观壁画</strong></br>
                                秦汉时代的宫殿衙署，普遍绘制有壁画，但随着建筑物的陆续消亡几乎丧失殆尽。本世纪70年代发现的秦都咸阳宫壁画遗迹第一次使我们领略到了秦代宫廷绘画的辉煌。在秦宫遗址3号殿的长廊残存部分上，发现了一支有七辆马车组成的行进队列，每辆车由四匹奔马牵引；另一处残存的壁画则表现的是一位宫女。这些形象都是直接彩绘在墙上的，并没有事先勾画轮廓，可以被认为是中国传统绘画中“没骨”法的最早范例。西汉的壁画则主要是为了标榜吏治的“清明”而创作的。王延寿的《鲁灵光殿赋》中记载了当时一个诸侯王所建宫殿里壁画的盛况。宣帝时更是在麒麟阁绘制了11位功臣的肖像壁画，开了后世绘制功臣图的先河。东汉明帝时，由于明帝本人的爱好，壁画创作之风更盛。在新建的白马寺绘制了《千乘万骑群象绕塔图》，这是中国佛教寺院壁画的肇始。
                            </p>
                            <p>
                                <strong>二、墓室壁画 </strong></br>
                                秦代的墓室壁画遗迹，迄今尚未发现。但是汉墓壁画的发现，则早在本世纪20年代初就开始了。传出洛阳八里台的那组空心砖壁画，是有关西汉墓室壁画的首次重要发现。1931年，辽宁金县营城子壁画墓的清理，则揭开了东汉墓室壁画的面纱。在随后的数十年间，在全国各地又发现了四十余座壁画墓，为探讨汉代绘画艺术的发展状况，提供了最为重要的实物资料。
                                这一时期，已发现的最为重要的壁画墓和墓室壁画有：属于西汉时期的河南洛阳的卜千秋墓壁画、洛阳烧沟61号墓、陕西西安的墓室壁画《天象图》；属于新莽时期的洛阳金谷园新莽墓壁画；属于东汉时期的山西平陆枣园汉墓壁画《山水图》、河北安平汉墓壁画、河北望都1号墓壁画以及在内蒙古和林格尔发现的壁画墓等。它们分别描绘了有关天、地、阴、阳的天象、五行、神仙鸟兽、一些著名的历史故事、车马仪仗、建筑及墓主人的肖像等，含意复杂，但大多是表现墓主人生前的生活以及对其死后升天行乐的美好祝愿，希望死者在艺人们营造的地下世界里享受富足的生活。
                            </p>
                            <p>
                                <strong> 三、汉代帛画</strong></br>
                                汉代画在缣帛上的作品很多，但历经千年之后，遗存极少。目前最重要的发现有本世纪70年代分别出土于湖南长沙马王堆、山东临沂金雀山的汉墓中的西汉帛画。马王堆1号墓中出土的帛画的含意最为隐晦，学者们的解释极为多样，但一般都认为帛画的上部和底部分别描绘的是天界和阴间，中间两部分则表现的是死者軑侯夫人的生活场景。墓主及各种神禽异兽的刻画极为生动，勾线流畅挺拔，设色庄重典雅，显示了西汉绘画的卓越水平。此外，马王堆3号墓中的三幅帛画的重要性也不容忽视，除墓主人外，还描绘有“导引”、仪仗等内容，精美非常。金雀山的帛画内容与马王堆汉墓帛画相近，上有日月仙山、下有龙虎鬼怪，中间部分描绘的是墓主人的人间生活景象，此画“没骨”与勾勒相结合，反映了汉画技法的多样性。
                            </p>
                            <p>
                                <strong> 汉画像石</strong></br>
                                画像石是遗存丰富，很有特色的秦汉美术史资料。艺术家们以刀代笔，在坚硬的石面上创作了众多精美的图像，用以作为建筑构件，构筑和装饰墓室、石阙等。全国发现的汉画像石数以千。据载，画像石萌发于西汉昭、宣时期，新莽时有所发展，到东汉时进一步扩大，主要分布于山东、河南、陕西、四川及其周围地区。
                                西汉晚期画像石以山东沂水鲍宅山凤凰刻石、山东汶上“路公食堂画像”为代表；新莽时期则以河南唐河冯君孺人画像石墓为代表，墓内刻30余幅画像，描绘现实生活及神怪异兽等。东汉前期画像石的代表作品有山东长清孝堂山石祠和南武阳石阙画像石。东汉后期的画像石以山东嘉祥武氏祠最为著名。该石祠自宋代即为金石学家所重视，元代受水后被掩于地下，至清乾隆时才重见天日。其中的武梁祠的画像石最为精美，皆用减地平雕加阴线刻的技法雕成，多为历史故事及神仙、奇禽异兽，技法高超。作者善于抓取历史故事矛盾冲突的高超，并善于运用必要的景物以交代特定的环境，人物之间的呼应关系也处理得非常出色，如《荆轲刺秦王》。出土于成都羊子山1号墓、现藏于重庆市博物馆的《出行、宴乐画像石》为四川汉画像石的优秀代表作。
                            </p>
                            <p>
                                <strong> 秦汉画像砖</strong></br>
                                画像砖是秦汉时代的一种建筑装饰构件。秦汉至西汉初期，多用于装饰宫殿衙舍的阶基；西汉中期以后，主要用于装饰墓室壁面；东汉则是画像砖艺术的鼎盛时期。
                                秦代的画像砖用模印和刻划两种方法制成，形状分大型空心砖和实心的扁方砖两类。临潼出土，今藏陕西省博物馆的一块《侍卫、宴享、射猎纹画像空心砖》，是现存秦代模印画像空心砖的代表作。西汉画像砖则以河南洛阳的出土品为代表，以简洁有力，形象生动传神著称。东汉的画像砖以河南、四川两省出土最多。艺术造诣最高的是四川成都一带出土的东汉后期画像实心砖，画面一次模印而成，构图完整，大多表现现实生活情景，代表作有《弋射收获画像砖》等。

                            </p>
                            <p>
                                <strong>魏晋南北朝时期的绘画 </strong></br>
                                魏晋南北朝时期在艺术方面的变化更多的是体现在书法艺术方面，楷书真正出现了。绘画艺术的变化虽然不象书法那么显著，但是社会风气的变化，崇佛思想的上扬，都让本来简略明晰的绘画进一步变得繁复起来。曹不兴创立了佛画，他的弟子卫协在他的基础上又有所发展。作为绘画走向成熟的标志之一，南方出现了顾恺之、戴逵、陆探微、张僧繇等著名的画家，北方也出现了杨子华、曹仲达、田僧亮诸多大家，画家这一身份逐渐地进入了历史书籍的撰写之中，开始在社会生活中扮演愈来愈重要的角色。
                                在这一时期中，发展得最为突出的是人物画（包括佛教人物画）和走兽画，而中国绘画中的其他各科还远未成熟，东晋顾恺之的传世作品《洛神赋图》中出现的山水只是作为人物故事画的衬景，山水画的逐步独立直到南北朝后期才趋于完成。之所以会这样，也是由于这一时期绘画的主要任务决定的——为政教服务，“是知存乎鉴戒者图画也”。这也是那时绘画的一个主要特点。
                            </p>
                            <p>
                                <strong>隋唐时期的绘画 </strong></br>
                                隋代的绘画风格，承前启后，有“细密精致而臻丽”的特点。来自各地，集中于京畿的画家，大多擅长宗教题材，也善于描写贵族生活。作为人物活动环境的山水，由于重视了比例，较好地表现出“远近山川，咫尺千里”的空间效果，山水画开始独立出来。
                                唐代的绘画在隋的基础上有了全面的发展，人物鞍马画取得了非凡的成就，青绿山水与水墨山水先后成熟，花鸟与走兽也作为一个独立画科引起人们注意，可谓异彩纷呈。初唐时的人物画发展最大，山水画则沿袭隋代的细密作风，花鸟画已经出现个别名家，宗教绘画的世俗化倾向逐渐明显和增多。从已发现的乾陵陪葬墓壁画的山水画中，我们已经可以看到的比较简单的斧劈皴。以薛稷、殷仲容为代表的花鸟画，则设色和水墨的形式都已出现。此外，这时最著名的画家还有阎立德与康萨陀等。他们的作品和作风丰富了初唐时期的画坛，为盛唐画风的突变奠定了基础。虽然，他们的作品大多没有流传，但是我们从乾陵各陪葬墓的壁画、新疆出土的绢画与敦煌莫高窟的壁画中，都可以看到当时他们不同的风格。
                                盛唐时期是中国绘画发展史上一个空前繁盛的时代，也是一个出现了巨人与全新风格的时代。宗教绘画更趋世俗化，经变绘画又有发展。不同地区的画法交融为一，产生了颇受欢迎的新样式，以“丰肥”为时尚的现实妇女进入画面。以吴道子、张萱为代表的人物仕女画，从初唐的政治事件描绘转为描写日常生活，造型更加准确生动，在心理刻划与细节的描写上超过了前代的画家。而山水画则在此时已经获得了独立的地位，代表的画家有李昭道、吴道子和张璪，分工细和粗放两种。泼墨山水也开始出现。花鸟画的发展虽不象人物画和山水画那样成熟，但在牛马画方面却名家辈出，曹霸、韩干、陈闳、韩滉与韦偃等都是个中好手。此外，著名的画家王维、卢稜伽、梁令瓒等也名重于时，时至今日还能看到他们的传世作品或者后世的摹本。
                                中晚唐的绘画，一方面完善盛唐的风格，另一方面又开拓了新的领域。此时，以周昉为代表的人物仕女画及宗教画更见完备。而王墨等人的山水画则发生了变异，盛行树石题材，渐用重墨，泼墨山水也开始出现。边鸾、滕昌祐、刁光胤等的花鸟画作品则体现出了花鸟画的日臻完善。此外，李真与孙位也是当时的著名画家。虽然他们的作品大多已无从得见，但从日渐发现的出土作品与壁画中，可以让我们想见当时的盛况。
                            </p>
                            <p>
                                <strong> 五代两宋的绘画</strong></br>
                                五代十国历时53年，虽然纷争并峙，但在绘画创作方面并没有停止，仍在前人的基础上继续发展。五代十国的书画，在唐代和宋代之间形成了一个承前启后的时期。无论是人物、山水，还是花鸟，都在前代的基础上有了新的变化和面貌。中原地区的战乱，并没有使得寺庙壁画的创作陷入停顿，但是风格都依托于吴道子的风范之下。在山水画的创作中则将唐人的水墨法大大发展了，出现了荆浩开创的北方山水画派。南唐的相对安定和其统治者对书画艺术的偏好，使得南唐绘画得到了长足的发展。画院的创立为画家开辟了新的出路和去向，同时也在很大程度上开始左右民间的绘画观念和风尚。人物肖像画、宗教画和仕女画都有名手出现，皆从前代的吴道子和周昉等处脱胎。在山水画上，则出现了与北方相异的江南山水画派，它的开创者时著名的画家董源。花鸟画也由于宫廷贵族的喜好而逐渐发展起来。南唐的著名画家有曹仲玄、周文矩、顾闳中、王齐翰、高太冲、董源、徐熙、赵干和卫贤等。地处内陆的西蜀则因为晚唐以后不断有画家避乱入蜀，也设立了画院，在宗教壁画的创作方面极为兴盛，宗教人物画方面则出现了贯休、石恪等有变形风格的作品和写意画法。同时代的花鸟画则显得极其精致，黄筌父子是其完善者和光大者。
                                960年到1127年间的北宋和南宋时期的阶级矛盾、民族矛盾都极为尖锐，并多次经过战争破坏，但社会的发展却没有止步，在手工业、农业、商业发展的基础上，文化艺术也走向的新的繁荣，绘画也迈向了一个新的台阶。
                                北宋继承了五代西蜀和南唐的旧制，建国之初，就在宫廷中设立了“翰林书画院”，对宋代绘画的发展起到了一定的推动作用，也培养和教育了大批的绘画人才。徽宗赵佶时的画院日趋完备，“画学”也被正式列入科举之中，天下的画家可以通过应试而入宫为官。这是中国历史上宫廷绘画最为兴盛的时期。北宋画坛上，突出的成就是山水画的创作。画家们继承前代传统，在深入自然，观察体验的过程中，创造了以不同的笔法去表现不同的山石树木的方法，使得名家辈出，风格多姿多彩。李成和范宽为其代表。花鸟画在北宋时期的宫廷绘画中占有了主要地位，风格是黄筌的富贵之风，直到崔白等画家的出现才改变这个局面。北宋人物画的主要成就表现在宗教绘画和人物肖像画及人物故事画、风俗画的创作上。武宗元、张择端都是人物画家中的卓越人物。
                                在北宋时，除了宫廷和民间各自存在有数量可观的职业画家之外，还有一支业余的画家队伍存在于有一定身份和官职的文人学士之中。他们虽然不以此为业，但是在绘画的创作实践和理论探讨方面，都有显著的特点和突出的成就，并且已经自成系统，这就是当时被称作“士人画”，后来被叫做“文人画”的一类。以官僚贵族和文人身份参与绘画的创作活动，古已有之，但是那些人的作品和职业画家的作品没有分别，也没有自己的理论体系。但从北宋中期以后，苏轼、文同、黄庭坚、李公麟、米芾等人在画坛上活跃起来，文人画声势渐起。苏轼明确提出了“士人画”的概念，并且认为士人画高出画工的创作。他们还为士人画寻找到了一条发展脉络，唐朝的王维甚至东晋的顾恺之都变成了这一体系的创始人，强调绘画要追求“萧散简淡”的诗境，即所谓“诗中有画，画中有诗”。主张即兴创作，不拘泥于物象的外形刻画，要求达到“得意忘形”的境界。采用的手法主要是水墨，内容从山水扩展为花鸟，这一时期文人贵戚出身的山水花鸟画家增多与此有关。这股潮流的兴起，是中国绘画史上的一件大事，不但对后代的中国绘画发展产生了深远的影响，甚至在一个时期内，左右了中国画坛。
                                南宋的山水画的代表人物主要是号称“南宋四家”的李唐、刘松年、马远、夏圭，他们各自在继承前代的基础上有所创造。
                                文人画在南宋时期除了在理论上进一步展开讨论以外，在实践中也有令人瞩目的成就。米友仁的“云山墨戏”，扬补之的墨梅，赵孟坚的水仙兰花都为世所重。被称为“四君子”，时至今日仍被画家看重的梅、兰、竹、菊，在南宋时已基本成为文人画的固定题材。
                                南宋的著名人物画家有李唐、萧照、苏汉臣等。他们的人物画创作，很多都与当时政治斗争形势有关，多选择历史故事及现实题材，擅长减笔人物画的梁楷的出现，则为中国人物画的创作开辟了一条新的道
                            </p>
                            <p>
                                <strong> 辽金元绘画</strong></br>
                                由于生活环境的关系及契丹民族的艺术思想的原因，辽代的山水画创作一直没能发展起来。另外，与汉族地区相比，辽代并没有类似汉地文人画大发展的阶段，也没有许多属于此类的作品。但在辽金绘画的鉴赏中，许多并非辽金时期作者的绘画因为描画的是契丹等少数民族形象，被误为辽金画者甚多。辽的文化直接接受唐、五代及北宋的影响，尽管契丹族本身有自己语言文字和游牧的风俗习惯，但是汉文化仍对其有着潜移默化的影响。辽太祖长子东丹王耶律倍（李赞华）和辽兴宗耶律宗真都擅长绘画，后者还常常以自己所画的鹅雁送于宋仁宗。《辽史》中还提到了一些怀有绝技的画师，但都没有作品传世。他们的作品都因时代、环境等条件的限制，或多或少地会体现出时代的总的风格，这就是：内容多为无情节的本民族生活，人物鞍马画居多；花鸟画则带有浓郁的装饰趣味，多对称构图，技法也有独到的地方；山水画处于发展阶段，不够成熟完善。
                                北方兴起的女真族在其首领完颜阿骨打的带领下，灭掉了辽和北宋，建立了自己的国家，史称金，辽的全部疆土和黄河以南，淮河以北的中原地区都归于金的统治范围。中原地区经济条件的优越和保留下来的文化的滋养，使得金的绘画得到了极大的发展。其宫廷秘书监下设书画局，相当于北宋文思院。除了金人因崇尚薄葬，壁画墓少见之外，在书画家的数量、作品的数量和质量等方面都超过了同为少数民族国家的辽。
                                党项族在西部建立的西夏政权，前后经历了二百年，历十帝，与宋、辽、金相对峙。但其绘画流传不多，但在敦煌莫高窟和安西榆林窟都有发现有西夏题记的壁画存在，间或有木板彩绘等出土，黑城遗址也出土有大量西夏时期的藏传佛教影响下的宗教绘画，可以对解读西夏绘画面貌起到参考作用，已有专家开始对此进行研究。
                                元代取消了五代、宋代的画院制度，除少数专家画家服务于宫廷外，还有一部分身居高位的士大夫画家，但更多的是隐居不仕的文人画家。元代绘画在继承唐、五代、宋绘画传统的基础之上进一步发展，标志就是“文人画”的盛行，绘画的文学性和对于笔墨的强调超过了以前的所有朝代，书法趣味被进一步引申到绘画的表现和鉴赏之中，诗、书、画进一步结合起来，体现了中国画的又一次创造性的发展。人物画相对减少了，山水、竹石、梅兰等成为绘画的主要题材。此外，由于社会的急剧变化也促使了社会审美趣味的转变，在绘画上强调要有“古意”和“士气”，反对“作家气”，摒弃南宋院体即所谓的“近体”，转而主张师法唐、五代和北宋。绘画理论上进一步强调的神的重要作用，把形似放在了次要的地位，以简逸为上，重视绘画创作中主观意兴的抒发，把对自然景物的描写当作画家抒发主观思想情趣的一种手段，与宋代绘画的刻意求工求似形成了鲜明对照。
                            </p>
                            <p>
                                <strong>明清的绘画 </strong></br>
                                明 张宏《村径柴门图》
                                明 张宏《村径柴门图》
                                明代是中国古代书画艺术史上的一个重要阶段。这一时期的绘画，是在沿着宋元传统的基础上继续演变发展。特别是随着社会政治经济的逐渐稳定，文化艺术变得发达起来，出现了一些以地区为中心的名家与流派。绘画方面，如以戴进为代表的浙派，以沈周、文徵明为首的吴门画派，以张宏为首的晚明吴派，蓝瑛称为武林派等等，流派纷繁，各成体系，各个画科全面发展，题材广泛，山水、花鸟的成就最为显著，表现手法有所创新。总的说来，元四家的影响在初期犹存，前期以仿宋“院体”为主；中期以后，以吴门各家为代表，回到继承元代水墨画法的文人画派，占据画坛主流。整个明代绘画大体可以分为前期、中期、晚期三个阶段，这三阶段相互有所区别，但也不能截然分开，而应该说是相互交替衔接的。
                                清代是中国最后一个封建王朝，自1644年至1911年，历286年。清代的绘画艺术，继续着元、明以来的趋势，文人画日益占据画坛主流，山水画的创作以及水墨写意画盛行。在文人画思想的影响下，更多的画家把精力花在追求笔墨情趣方面，造成了形式面貌的更加多样，愈加派系林立。在董其昌“南北宗论”的影响下，清代画坛流派之多，竞争之烈，是前所未有的。清代绘画的发展，大致也可以分为早、中、晚三个时期。早期，“四王”画派占据画坛的主体地位，江南则有以“四僧”和“金陵八家”为代表的创新派；清代中期，宫廷绘画由于社会经济的繁盛和皇帝对于书画的爱好而得到很好的发展，但在扬州，却出现了以扬州八怪为代表的文人画派，力主创新；晚清时期，上海的海派和广州的岭南画派逐渐成为影响最大的画派，涌现出大批的画家和作品，影响了近现代的绘画创作。
                                此外，壁画的创作渐趋衰败，但仍有许多精彩作品传世。便于传播的版画和年画在明代中期以后却得到了极大的发展，直至晚清，出现众多的版画流派和年画生产中心。
                            </p>
                            <p>
                                <strong>卷轴画 </strong></br>
                                明代宫廷绘画的历史，从明代建国伊始就已经开始，经过永乐、宣德、成化、弘治几朝，宫廷绘画达到了兴盛阶段，到嘉靖、万历以后，逐渐衰微。赵原、卓迪、周位、王仲玉等是初期院体画家的代表。宣德以后，宫廷画家不断增多，著名的有谢环、商喜、倪端、李在、石锐、周文靖等，他们的绘画，技艺全面，师法南宋“院体”，各有特点。成化、弘治之际，宫廷画家主要有以画花鸟著称于时的林良、吕纪；山水、人物画则以吴伟、王谔的成就最为突出，正德年间的朱端，其人物、山水、竹石画也具有相当水平。在明代的宫廷绘画中，无论花鸟、山水还是人物画，作品中都多多少少可以找到两宋院体画的影子。黄筌父子的工笔重彩花鸟画法在明代宫廷绘画中得到了传承；山水人物画方面的主要效仿对象是南宋的李、刘、马、夏，也有的宗法郭熙，刻意的摹仿和自己的特点融合在一起，形成了明代院体画的特有风格。主要特点表现为形象精确、法度严谨、色彩艳丽。但与宋院画相比，明代院画则显得在严谨细腻之中多了一些轻灵的气息，所用水墨也较多，成化以后，受到浙派的影响，风格则更加趋于豪放挺拔。
                                在明初的宫廷画家中，有些是自元入明的文人，在画风上仍保持元人传统，如赵原、卓迪的山水，取法于元四家，郭纯则师承盛懋，周臣、王仲玉等的人物画，以清淡秀逸取胜。边景昭的花鸟画与上述等人的师承有所不同，他直接效法的是宋代的院画，以工笔重彩著称。
                            </p>
                            <p>
                                <strong>民间绘画 </strong></br>
                                明清时期，与民间工匠美术家关系更为密切的壁画、版画与年画的发展呈现出了不同的状况。壁画由盛转衰，版画、年画则异军突起，发展迅猛。壁画的功用大多已为卷轴画所替代，所以壁画的数量和质量都有所下降。自唐代就已经出现的木刻版画，作为插图在宋元时期被广泛地应用于各种经、史及讲解技术生产的书籍。到了明代，由于市民文化和民俗文学的兴盛，版画在戏曲小说插图中得到了巨大的发展，并吸引了一些著名画家参与绘稿，佳作叠出。五代北宋时期的年画多以手绘的形式出现，在明中期以前，也开始有刻制的形式问世，但数量较少。随着版画的兴起，木板年画也勃兴起来，至清代已巍为大观。作为最为普及的美术形式，年画在民间曾经起到了传播知识的作用，在西方印刷术冲击中国之前，曾出现了万紫千红的繁盛局面。
                                一、壁画在明代，继承唐宋传统的寺庙壁画仍是壁画的主要表现形式，较之前代，明代的壁画显得更为规范化和世俗化，也显示出不同宗教和不同教派之间的融合。这一时期的壁画遗存尚多，分布于北京、河北、山西、四川、云南、西藏、青海等地。其代表为完成于1444年的北京郊区的法海寺大雄宝殿中的壁画《帝释梵天图》，在性格描绘上颇具匠心，画法亦沿用唐宋遗法，沥粉贴金，风格精密富丽。这幅壁画的作者是工部营缮所的画士官宛福清、王恕及画士，在一定程度上也显现了宫廷画风的特点。民间画工所作的壁画的代表作为河北石家庄毗卢寺后殿壁画，内容为“水陆画”，佛、道、儒三教混而为一。
                                清代寺庙壁画与宫廷壁画中，最引人注目的是有关现实重大题材的描绘以及民间小说与文学名著的表现。西藏布达拉宫灵塔殿东的集会大殿内，画有《五世达赖见顺治图》，记载了五世达赖率领3000人的使团进京朝见顺治的史实，以连环画的手法成功处理了众多的人物和丰富的活动，堪称清代壁画的杰作。此外，山西定襄关帝庙壁画取材于《三国演义》中的故事，北京故宫长春宫回廊上的《红楼梦》壁画则参以西洋画法描绘了这部千古名作里的部分情节。
                                二、版画的发展始终与刻书业密切相关，宋元时代的中心在福建的建安和浙江的杭州，在明代的时候则转移到南京和北京。但是真正使得版画发展进入一个新阶段的是徽派版画的兴起。自15世纪以来，徽派版画即以刻制闻名于时，高手如林，尤其以黄、汪两个家族最为突出。明清两代新安黄氏一族所刻书达200余部，能图者有100多人，成为一支阵容庞大的队伍。代表作品有《养正图解》、《古列女传》等。在徽派版画以典雅、精巧的风格畅行于世的时候，金陵（南京）、武林（杭州）、苏州等地的版画插图也形成了自己的特色。
                                明代版画不仅用作书籍插图，而且也用于画家传授画法的“画谱”、文人雅士的“笺纸”、制墨名家的“墨谱”，以及民间娱乐用的“酒牌”。画谱中的较早者是1603年杭州双桂堂所刊的《顾氏画谱》；墨谱的代表则为万历年间出版的丁云鹏参与绘制的《程氏墨苑》；热心酒牌版画创作的是著名画家陈洪绶，他和徽州黄氏高手合作的《水浒叶子》、《博古叶子》等成为传世名作。古代套色版画的出现，已知最早的是明刻的《萝轩变古笺谱》，但影响最大的却是刊刻于1633年的《十竹斋画谱》和刊刻于1644年的《十竹斋笺谱》，它们的作者是明代的出版家、书画家胡正言。
                                清代版画除了徽派以外，北京的殿版也很有名。代表作品有1696年北京刻手朱圭所刊焦秉贞的《耕织图》、1717年所刻冷枚画的《万寿盛典图》等。而1679年运用分色水印木刻法所印制的《芥子园画传》初集，是由金陵画家根据李流芳的稿本缯辑而成的，其后又出版了二、三、四集，广为流传，成为对后世影响极大的一部绘画教科书。
                                三、年画印制木板年画的作坊出现于明代后期，到清代前期又有扩大和增长，全国已经形成了若干生产中心。这些年画中心的生产能力强，行销范围广，而且有着鲜明的地区特色，最著名的有天津杨柳青、苏州桃花坞和山东潍县的杨家埠。
                                位于天津以西的杨柳青自明代万历年间开始出现年画作坊，已知最早的有戴廉增、齐健隆两家。后来从两家中滋生出很多店铺，到乾隆年间便达到了鼎盛，杨柳青随之成为了北方的年画重镇。杨柳青年画题材广泛，包括神码、生活风俗、历史故事、戏曲小说、娃娃美人等，技法上追求绘画效果，单色制版，人工染色，刻工精细，赋色鲜丽。产品行销北方、东北和西北等地，代表作品有康熙年间的《喜叫哥哥》、乾隆年间的《盗仙草》和道光年间的《庄稼忙》等。
                                桃花坞在苏州北城工艺美术行业的集中地。明代开始印制年画，康熙年间出现了年画作坊，雍正、乾隆朝时更为兴盛，重要画店有张星聚、张文聚等。表现内容以故事性画面为主，并乐于表现城市面貌与市民生活，采取套色木刻的方法，乾隆时又加强了色彩晕染，作风比较写实，明净强烈。代表作品有《苏州阊门图》、《花果山猴王开操》、《百子全图》等。
                                杨家埠在山东潍县城东北，年画生产在乾隆时已具规模，同治后则进入盛期。内容以神码为主，体裁形式丰富多样，印制方式主要是分色套版，造型夸张，构图饱满而富有装饰性，色彩对比强烈，风格质朴生动。代表作品有《门神》、《男十忙》、《女十忙》等。
                                此外，河南朱仙镇、陕西凤翔、四川绵竹、福建泉州、广东佛山等地均有年画产地各有特色，直到晚清西方石印传入以后，各地年画才逐渐衰落下去。
                            </p>

                            <p>
                                <strong> 近现代绘画</strong></br>
                                从鸦片战争以后的中国就一直在动荡之中生活着，她饱受外国列强的欺凌，她的不屈的子民们从来没有放弃过奋争的权力，用他们自己的生命和鲜血在改变中国的命运。1911年的辛亥革命，推翻了中国的最后的一个封建王朝――清，也开始向新的民主与自由的社会迈进。但本世纪以来的中国还是经历了那么多的磨难，1919年的“五四”运动的爆发，“民主”和“科学”两面旗帜被高高举起，传统的制度，尤其是传统的思想和文化受到了前所未有的冲击。抗日战争的胜利是百年来的中国人第一次把外来的侵略者赶出了家门，随后的解放战争又使最大多数的农民和工人的利益得到了保护，并建立了中华人民共和国。虽然，安定和平的局面不断地受到各种各样的运动的侵扰，但是，我们毕竟走过了20世纪，站立在了新时代的面前。
                                西方文化的传入，是近现代中国史上最重要的现象之一，要不要接受西方艺术，怎么样接受西方艺术，怎么样保持本土艺术的面貌，成了本世纪中国画家思考的最多的问题。
                            </p>
                            <p>
                                <strong> 清末民初的绘画</strong></br>
                                几乎可以用“萧条”两个字来概括清末民初中国画坛的景象，大部分的著名画家在辛亥革命前已经去世了，只有吴昌硕为代表的海派画家和后起者以及岭南派的“二高一陈”的出现，才使得中国画坛有了生气。身居北京的画家大多恪守着“四王”的衣钵，没有大的突破。接受了新思想和革命洗礼的艺术家，开始仿照西方的模式开办新学校，倡导“美术革命”，对古代绘画重新加以评定，贯穿本世纪的关于创新与保守的争论就此开始。
                            </p>
                            <p>
                                <strong> 民国中后期绘画</strong></br>
                                1927年，由孙中山所创立的中华民国与封建军阀的争战基本结束，国民党和共产党的第一次合作宣告破裂，国民政府在南京成立。同一年，吴昌硕在上海去世，齐白石则在北京完成了他的“衰年变法”。
                                1931年鲁迅在上海倡导发起了中国新兴木刻版画运动，新兴木刻从诞生那天起，便和中华民族的解放事业紧密相关，与广大人民群众的命运血肉相连。他是中国革命文艺的一个重要组成部分，是国统区美术的主力军。当时的版画是以艺术家和革命者的双重身份出现，以艺术作为战斗武器，在思想教育战线上发挥了它的巨大作用。由于鲁迅的倡导，进步的艺术青年拿起了木刻刀，组织起木刻团体，1931年初春被国立杭州艺术专科学校开除和退学的“一八艺社”社员张眺(耶林)、于海(于寄愚)、陈卓坤(陈广)、陈耀唐(陈铁耕)等联合上海的周熙(江丰)等人在上海成立一八艺社研究所。6月，在虹口每日新闻社楼上举行一八艺社习作展览会，展品180幅，其中有油画、雕塑、图案及木刻。这是新兴木刻版画首次在展览会上展出，并出版了画册，鲁迅为之作序。从此在鲁迅的领导下，以上海为代表的中国国统区（白区）新兴木刻版画代表人物有：胡一川、陈铁耕、陈烟桥、沃渣、马达，黄新波，李桦，杨可扬，江丰，王琦，黄永玉，郑野夫，朱宣咸，汪刃锋，王麦秆，邵克萍，钟步青，苗勃然，陈铁耕，力扬，荒烟，王树艺，余白墅，陈珂田，赵延年，李志耕，丁正献，徐甫堡等。后来中国新兴木刻版画运动，似星星之火燎原了整个中国大地，以延安为代表的解放区（红区）新兴木刻版画也蓬勃发展了起来，代表人物有：古元，力群，马达，彦涵，石鲁，夏风，李少言等等。许多进步美术家在当时在报刊、杂志发表了大量的揭露社会黑暗，反对专制统治，追求民主自由的文章和美术作品。引起了国民党政府的不满。40年代后期国共战争进入白热化,国民党的统治也日趋专制化。1948年12月蒋介石亲自下令查封由知名人士储安平在上海创办《观察》社并逮捕《观察》进步人士，这就是近代史上被称为“近代中国自由主义最后的绝唱” 的“《观察》事件”。此后，著名的“七君子”之一王造时先生亲自出面多方奔走以自己的影响力给当局施压。并于次年2月亲自担保和营救了包括美术家朱宣咸在内的数位《观察》进步人士出狱。1949年5月29日刘开渠、杨可扬、张乐平、（郑）野夫、庞薰琹、朱宣咸、温肇桐、陈烟桥、邵克萍、赵延年等国统区美术先驱代表上海美术界在《大公报》发表迎接解放的“美术工作者宣言”。该“宣言”的发表标志着国统区美术和上海近代美术史从此翻开了崭新的一页。
                            </p>
                            <p>
                                <strong> 新中国前期绘画</strong></br>
                                1949年，中华人民共和国的成立标志着中国又进入了一个新的历史时期。由于处于半封闭的状态，所以这一个时期的中国画创作是在一种相对狭小的空间中进行的。处于美术的正统地位的是由延安革命美术传统、苏联的社会主义现实主义和徐悲鸿所 [1]  倡导的写实主义相结合而成的一种新中国模式的现实主义形式，但是由于上半世纪的美术发展的余波仍在，许多已有成就的老画家的艺术更加臻于成熟，一批新人也开始登上画坛。但是，文化大革命的到来，使得中国画的发展几乎陷于停顿。
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--授权说明-->
<div class="footer">
    <div >
        作品来源于网络，仅供学习鉴赏使用，
        图片版权归原作者或原照片所有者或原出版社所有，如有冒犯或侵权,敬请联系删除。 &nbsp;|&nbsp;版权所有:******
    </div>
    <div >
        ©Copyright of frame design is reserved in 2022.    </div>
</div>

</body>
</html>
