<!DOCTYPE html>
<html>
<head>
    <link href="images/图标/LOGO.png" rel="shortcut icon" type="image/x-icon" />
    <title>登录页面</title>
    <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

    <link rel="stylesheet" href="stylesheets/Enter/public.css">
    <link rel='stylesheet' href="stylesheets/Enter/style.css" />
</head>

<body>
<div class="container">
    <header>
        <p class="p-box">
            <img src="images/图标/LOGO2.png" height="40px" alt="logo" class="logo">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="title" >Art Research Institute</span>
            <img src="images/图标/电话咨询.png"height="80px" alt="联系电话 | 400-999-8888" class="num">
        </p>

    </header>

    <!-- 登录框 -->
    <div class="box" >
        <h2>用户登录</h2>
        <div class="form">
            <form id = "loginform"  name = "form1" action="/Enter" method="post" >
                <div class="input-box">
                    <input type="text" placeholder="请输入手机号" name="userNum" id="id" />
                </div>
                <div class="input-box">
                    <input type="password" placeholder="密码" name="userPwd" id="password" />

                </div>
                <div class="btn-box">
                    <div>
                        <a  href="register" ><input type="submit2" value="注册"></a>
                        <input type="submit" value="登录"  name="mistake" id="login">
                    </div>
                    <div>
                        <p class="forget">忘记密码?<a href="forget">
                            点击这里
                        </a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <!-- 底部 -->
    <div class="footer">
        <!-- 文字 -->
        <p class="p-text">©Copyright of frame design is reserved in 2022.</p>
    </div>
</div>
<video class="video" autoplay loop muted="" preload>
    <source src="images/1.mp4">
</video>



<script type="text/javascript">
    function randoms()
    {
        document.getElementById("userNum").value = "";
        document.getElementById("userPwd").value = "";
    }

    //参考链接：https://www.runoob.com/try/try.php?filename=jquery_validate_demo1
    //添加检测机制 参考链接：https://blog.csdn.net/huangleijay/article/details/11569317
    jQuery.validator.addMethod("mobile", function(value, element) {
        var length = value.length;
        var mobile = /^(((13)|1[5-9]{1})+\d{9})$/
        return this.optional(element) || (length == 11 && mobile.test(value));
    }, "手机号码格式错误");

    // 字母和数字的验证
    jQuery.validator.addMethod("chrnum", function(value, element) {
        var chrnum = /^([a-zA-Z0-9]+)$/;
        return this.optional(element) || (chrnum.test(value));
    }, "只能输入数字和字母(字符A-Z, a-z, 0-9)");

    $().ready(function() {
        // 在键盘按下并释放及提交后验证提交表单
        $("#loginform").validate({
            rules: {
                userNum: "required",//手机号
                //密码是6位以上
                password: {
                    required: true,
                    minlength:6,
                    maxlength:10,
                    chrnum: true
                }
            },
            messages: {
                userNum: "请输入您的账号",
                password: {
                    required: "请输入密码",
                    minlength: "请输入6~10位密码",
                    maxlength:"请输入6~10位密码"
                }
            }
        });
    });

</script>
</body>




</html>
