<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="images/图标/LOGO.png" rel="shortcut icon" type="image/x-icon" />
    <title>用户中心 - 主页</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href='/stylesheets/userCenter/right.css'>
</head>
<body>
    <div class="main">
        <img src="images/图标/LOGO2.png" alt="">
        <h3>欢迎进入用户中心</h3>
    </div>
</body>
</html>