<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href='stylesheets/News/tieNew.css' />
    <link href="images/图标/LOGO.png" rel="shortcut icon" type="image/x-icon" />
    <title></title>

</head>
<body>
<!--导航栏部分-->
<nav class="nav" id="nav">
    <li class="col-md-6" style="margin-left: 25px;">
        <img src="images/图标/LOGO2.png" width="60px" class="glyphicon" /><span ></span><span style="position:absolute;margin-left:25px;margin-right:25px;margin-top:25px;color: #3a3b3c; font-size: 25px; font-family:Blackadder ITC;" >&nbsp Art Research Institute</span><!--左标签-->
        <span style="margin-left: 250px;margin-top: 15px;"> &nbsp &nbsp <img src="images/图标/电话咨询.png" width="230px" class="glyphicon" /></span>
    </li>
</nav>
<header>
    <div>
    <img src="<%= rawData.ImgUrl %>" />
    </div>
    <h2><%= rawData.NewsName %></h2>
</header>
<main>
    <article style="   font-family: 华文细黑;color: #3c3c3c;">
        <p>
            第十四届中国国际航空航天博览会（以下简称中国航展）于11月8日在广东珠海拉开帷幕。
            来自43个国家和地区的740多家企业通过线上线下参展。作为世界五大航展之一，中国航展已成
            为集中展示中外航空航天先进技术和高端装备的重要窗口、促进航空航天技术和装备领域商贸合作的国际平台。
        </p>
        <p>
            在本届航展上，歼-20、歼-10C和空警-500、轰-6K等主战装备集中亮相，运油-20、歼-
            16、攻击-2无人机首次振翅中国航展，空军“八一”飞行表演队和空军航空大学“红鹰”飞行表演
            队劲舞长空。国产大飞机“三剑客”运-20、C919、AG600先后展翅蓝天进行飞行表演，首次在中国航
            展聚首。中国航天科技集团带来1:1空间站组合体展示舱，集中展示了中国载人航天最新科技成果。
        </p>
        <p>
            11月8日，“天空有多遥远——中国航空航天摄影作品展”在珠海国际航展馆新闻中心一层，与第十四届中
            国国际航空航天博览会同期开幕。该展览由中国摄影家协会、广东省文学艺术界联合会、中共珠海市委宣传
            部主办，《中国摄影》杂志社、广东省摄影家协会、海南省航空摄影协会、珠海航展有限公司承办。
         </p>
        <p>
            当日下午，中国摄影家协会、广东省摄影家协会以及参加
            本届中国航展开幕仪式的领导和嘉宾参观了本次展览，并从内容策划、展陈形式、作品质量等方面给予高度评价。
    </p>
        <p>
            作为世界航空装备最新成果展示的平台，已经连续成功举办13届的中国航展，极大地推动了中国航空文化的发展，给航空迷们留下了许多珍贵的回忆，也让大量的专业摄影师和摄影爱好者从这里走上了航空摄影的道路。
        </p>
            <p>本次展览分为“目光凝聚”“明星装备”“飞行表演”“航空摄影师的视界”四个版块，精心挑选了近30位资深航空航天摄影师的60多幅作品，其中既有过去20多年里中国航展上的难忘瞬间，也有这些摄影师拍摄自世界各地航空活动上的精彩作品，向观众呈现了一个丰富与多元的航空世界。
    </p>
        <p>
            20多年来，随着社会的进步以及我国国防军事科技实力的增强，中国航展也在悄然改变，但是不变的是观众们一如既往的关注。展览中，“目光凝聚”这一版块展现了中国航展如何一步步成为了展示中国国防科技越来越重要的舞台，同时也展示了不同地域、不同年龄层次的观众们与中国航展之间所产生的生动而有趣的互动。
        </p>
<p>            从开展前的种种猜测，到开展后的大饱眼福，每一届中国航展上会有什么样的“明星装备”亮相，一直是航空迷、军事迷们最津津乐道的话题。而像歼-20、运-20、歼-10B TVC矢量推力验证机、歼-16D这样的“国之重器”都把中国航展作为与观众见面的第一舞台。本次展览的“明星装备”版块回顾了几款曾经展翅珠海的国内外重要装备，让观众在影像中重温面对这些蕴含着高精尖科技元素的航空航天产品时的激动时刻。    </p>
        <p>
            飞行表演可谓是每一届航展上最引人瞩目的部分，它不仅是对飞行员技术和意志的考验，也挑战着表演用飞机性能的极限。伴随着引擎的轰鸣，现代战斗机大速度密集编队的飞行表演，总能给观众带来震撼的视听感受。瞬息万变的空中演示，对于航空摄影师用镜头定格精彩瞬间的能力也提出了极高的要求。在展览的“飞行表演”版块展示了航空摄影师们以表演为载体创作出的全新的影像世界，他们对于瞬间的把握已经超越了观众在现场的肉眼所见，摄影师们用影像所凝固的飞行之美，激起我们关于远方、关于未来、关于我们自身的无限畅想。        </p>
        <p>
            中国的航空摄影师们不辞辛苦地追踪着全世界的航空活动，在“航空摄影师的视界”版块我们可以更进一步了解这一相对小众的摄影师群体的工作。从他们的镜头中，我们可以感受到，航空工业在一百多年的发展历程中所凝结的累累硕果，以及由此所衍生出来的丰富多彩的航空文化。</p>
        <p>
            为了让更多摄影爱好者深入了解航空摄影，探讨如何发挥中国航展的平台带动作用，推进中国航空航天摄影文化的突破，第十四届中国航展期间举办了两场摄影观片会并将举办“中国航天航空摄影文化创新与发展”主题研讨会，届时将邀请业界专家和资深航空摄影师从多种视角切入，多重经验出发来进行讨论和分享。希望从扩大航空摄影传播、营造优质航空摄影环境、航空摄影社会价值的实现等方方面面的话题探讨，激发航空航天摄影领域的创新活力，推出更多富有精神力量的优秀人才和作品，构建起中国航空摄影的良性发展之路。</p>
        <p>
            为鼓励中国少年儿童追逐“航空航天梦”，发掘中国航展不一样的精彩瞬间，11月11日至11月13日在第十四届中国航展公众日期间，还将举办“小小航展摄影师现场征集活动”。此次活动面向6-15周岁的中小学生，征集拍摄自本届中国航展现场的摄影作品，参评者只需在微博上带话题#小小航展摄影师#，提交作品并注明“作品名称+年龄”，在每日19:00前发布，即为参加成功。所有参评者的作品将由《中国摄影》杂志社进行评审，第二天在《中国摄影》杂志官方微博上发布前一日“小小航展摄影师”拟入选者5位，三天共将评选出15位入选者。每位入选者将获得主办方颁发的荣誉证书及航展相关精美礼品，在最终评审后，《中国摄影》杂志社将进行相关推荐。</p>
        <p>
            此外，展览主办方举办“中国国际航空航天博览会摄影大展”征稿活动将于11月30日截止。本次征稿主要征集反映中国国际航空航天博览会现场精彩瞬间、展现中国航展发展历程为主，同时征集全方位展示我国航空航天领域取得的辉煌成就、发展历程，以及多种角度反映航空航天文化的摄影作品。</p>
    </article>
</main>


</body>
</html>