<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="images/图标/LOGO.png" rel="shortcut icon" type="image/x-icon" />
    <title>美术史 - 西方美术史</title>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css'><!--顶部样式调用-->
    <link rel="stylesheet" href='/stylesheets/bootstrap-theme.min.css'>
    <link rel="stylesheet" href='stylesheets/history/western.css' />

</head>

<body>

<nav class="nav" id="nav">
    <ul class="nav nav-tabs" >
        <li class="col-md-6">
            <img src="images/图标/LOGO2.png" width="60px" class="glyphicon" /><span></span><span style="font-size: 20px;font-family:Blackadder ITC;">&nbsp Art Research Institute</span><!--左标签-->
            <span> &nbsp &nbsp <img src="images/图标/电话咨询.png" width="230px" class="glyphicon" /></span>
        </li>

        <!--首页开始-->
        <li style="padding-top: 8px;" ><a href="index"><span><img src="images/图标/home.png" width="20px" class="Icon" /></span>&nbsp;&nbsp;首页 </a></li>
        <li style="padding-top: 8px;" ><a href="/Whistory"><span><img src="images/图标/Westernwork.png" width="20px" class="Icon" /></span>&nbsp;&nbsp;西方绘画史</a></li>
        <li style="padding-top: 8px;" ><a href="/Chistory"><span><img src="images/图标/Chinesework.png" width="20px" class="Icon" /></span>&nbsp;&nbsp;国内绘画史</a></li>
    </ul>

</nav>

<!--内容-->
<div class="container">
    <div class="Title">
        <p >西方绘画史</p>
        <div class="images">
           <div>
               <a onclick="window.open('images/绘画史/western/9.png ')"><img src=" images/绘画史/western/9.png " width="300px" /></a>
           </div>
            <div>
                <a onclick="window.open('images/绘画史/western/10.png ')"><img src=" images/绘画史/western/10.png " width="300px" /></a>
            </div>
            <div>
                <a onclick="window.open('images/绘画史/western/11.png ')"><img src=" images/绘画史/western/11.png " width="300px" /></a>
            </div>
        </div>
    </div>
    <div class="case">
        <div class="capacity">
            <p>
                600年西方绘画史变迁， 从理想主义的<strong> 文艺复兴</strong>、
                “飞翔状态”的<strong>巴洛克 </strong>和<strong>洛可可 </strong>，到丰富多样化的<strong> 近现代</strong>西方绘画。
                立体解读，从“谁在看画、为何看画、画中有谁”，
                深度解析画作细节和时代背景，让你理解西方绘画的<strong> 发展脉络</strong>。
            </p>
        </div>

        <div class="center">
            <div class="catalog">
                <div class="title" id="title">
                    <p>目录</p>
                </div>
                <form>
                    <ul class="formone">
                        <li><a href="#primary-one">起源</a></li>
                        <li style="padding-top: 5px;"><a href="#primary-two">罗马中世纪时期</a></li>
                        <li style="padding-top: 5px;"><a href="#primary-the">文艺复兴</a></li>
                        <li style="padding-top: 5px;"><a href="#primary-four">巴洛克绘画</a></li>
                    </ul>
                    <ul class="formtwo">
                        <li><a href="#primary-five">洛可可绘画</a></li>
                        <li style="padding-top: 5px;"><a href="#primary-six">印象派绘画</a></li>
                        <li style="padding-top: 5px;"><a href="#primary-seven">现代派绘画</a></li>
                        <li style="padding-top: 5px;"><a href="#primary-eight">莱比锡画派</a></li>
                    </ul>
                </form>
            </div>

<!--            第一   开始-->
            <div class="body-text">
                    <div class="primary" id="primary-one">
                        <p class="component"><a href="#title">起源 </a> </p>
                        <!--                    内容-->
                        <div class="text">
                            <div class="file">
                                <p>西方绘画，起源于<strong>希腊 </strong>。后来希腊成为罗马帝国的属地，古罗马人学习和吸收了希腊人的经验和文化，
                                    使罗马的绘画艺术也兴旺发达起来。其实，人类最早的的绘画产生于旧石器时代晚期，这时期的艺术持续约有一万年之久，
                                    几乎所有的图画都集中在旧石器时代最后5000年里，即距今1.7万年到1.2万年的吗格德林文化时期，
                                    这些被绘制在原始洞窟岩壁上的最古老的图画，气势恢弘，栩栩入生，堪称自然主义杰作。希腊罗马之后
                                    ，就是中世纪、文艺复兴，然后从17世纪开始，每个世纪都有自己独特的绘画风格和主题。正一艺术于2020年1月2日。
                                </p>
                            </div>
                            <div class="img">
                                <a onclick="window.open('images/绘画史/western/1.png ')"><img src=" images/绘画史/western/1.png " width="300px" /></a>
                            </div>
                        </div>
                    </div>
            </div>
<!--            第一   结束-->

<!--            第二  开始-->
            <div class="body-text-two">
                <div class="primary" id="primary-two ">
                    <p class="component"><a href="#title">罗马中世纪时期 </a> </p>
                    <!--                    内容-->
                    <div class="text">
                        <div class="file">
                            <p> <strong> 古希腊罗马时期</strong>（公元前-公元476年），西方绘画始于古希腊罗马时期，
                                是与其他艺术如雕塑、音乐、舞蹈等等一起发展起来的，与人类的生活是分不开的。
                                古希腊艺术，通常指公元前12-前1世纪希腊及其附近岛屿和小亚细亚西部沿海地区的美术。
                                古罗马艺术，公元前509-公元476年罗马帝国的美术。下图为《伊苏斯之战》，
                                是公元1831年从庞贝古城遗址发现的镶嵌画，大约作于公元前310年。</p>
                                <p><strong>中世纪绘画 </strong>（476-15世纪），一般指5-15世纪的西方美术，
                                从公元476年西罗马帝国灭亡开始，在漫长的中世纪，绘画作为宗教的艺术而存在。
                                随着基督教艺术（2-3世纪上半叶）、拜占庭艺术（4-15世纪）、罗马式艺术（9-12世纪）、
                                哥特式艺术（12-16世纪初）在建筑方面的高度发展，绘画方面的圣像画、镶嵌画、壁画、
                                插图画、细密画等也获得了繁荣。下图为《圣弗兰西斯与贫穷女神结婚》，是西方主流绘画的创始人乔托作于1312年。
                            </p>
                        </div>
                        <div class="img">
                            <a onclick="window.open('images/绘画史/western/2.png ')"><img src=" images/绘画史/western/2.png " width="300px" /></a>
                        </div>
                    </div>
                </div>
            </div>
<!--            第二   结束-->

<!--            第三 开始-->
                <div class="body-text-three">
                    <div class="primary" id="primary-the" >
                        <p class="component"><a href="#title">文艺复兴 </a> </p>
                        <!--                    内容-->
                        <div class="text">
                            <div class="file">
                                <p> <strong> 文艺复兴时期（14-16世纪）</strong>，指欧洲14-16世纪资本主义萌芽和初步发展时期的艺术。
                                    开始于意大利，后扩大到尼德兰、法国、德国、英国、西班牙等国，并席卷全欧洲。
                                    文艺复兴运动使得西方绘画从宗教艺术中独立出来。绘画在人文主义气氛中，
                                    形成了它的整体风貌，产生了如马萨乔、多纳泰罗、达芬奇、米开朗基罗、
                                    拉斐尔等文艺复兴绘画巨匠，至今，他们的名字和作品仍如星空中最明亮耀眼的星星，
                                    令人仰视。还出现了波提切利、提香、乔尔乔内、丁托列托、勃鲁盖尔、丢勒、荷尔拜因等等，
                                    他们将欢乐、狂热、激情和才华凝于笔端，将人类的精神世界和自然世界用色彩表现出来。
                                    下图为《年轻女子》，是佛罗伦萨画派最后一位画家波提切利作于1485年。</p>
                            </div>
                            <div class="img">
                                <a onclick="window.open('images/绘画史/western/3.png ')"><img src=" images/绘画史/western/3.png " width="300px" /></a>
                            </div>
                        </div>
                    </div>
                </div>
<!--            第三  结束-->


<!--            第四  开始-->
            <div class="body-text-four" id="primary-four">
                <div class="primary" >
                    <p class="component"><a href="#title">巴洛克绘画 </a> </p>
                    <!--                    内容-->
                    <div class="text">
                        <div class="file">
                            <p> 17世纪的<strong>巴洛克绘画 </strong>，出现于文艺复兴时期的最后阶段，
                                分享着古典主义的精神遗产，将文艺复兴的精神发挥到极致，
                                表现出一种对个性情感的极度张扬和浮华矫饰，强调人生的享乐与欢快色彩，
                                在技术上夸耀技巧与复杂，追求装饰性。这一风格风靡了一百多年。
                                这一时期的世界级艺术大师有卡拉瓦乔、伦勃朗、哈尔斯、维米尔、鲁本斯、
                                委拉斯凯兹、格列柯等等。下图为《信仰的寓言》，
                                是荷兰最伟大的画家维米尔作于1672年。</p>
                        </div>
                        <div class="img">
                            <a onclick="window.open('images/绘画史/western/4.png ')"><img src=" images/绘画史/western/4.png " width="300px" /></a>
                        </div>
                    </div>
                </div>
            </div>
<!--            第四  结束-->

            <!--            第五   开始-->
            <div class="body-text-five">
                <div class="primary" id="primary-five">
                    <p class="component"><a href="#title">洛可可绘画 </a> </p>
                    <!--                    内容-->
                    <div class="text">
                        <div class="file">
                            <p>18世纪的<strong> 洛可可绘画</strong>，享乐与华贵的艺术时尚几乎占据整个画坛。
                                洛可可绘画是在宫廷和贵族阶层中发展起来的，
                                主要描绘贵族男女的风流韵事和闲适娱乐生活。到法国路易十六时期，
                                绘画巳与社会各阶层产生了广泛的联系，绘画迎来了新古典主义美术的曙光
                                。这一时期的绘画大师有华托、布歇、夏尔丹、拉图尔、格勒兹、霍
                                格斯、雷诺兹、庚斯博罗、提埃波罗等等，他们的艺术成就，极
                                大地丰富了18世纪西方绘画。下图为《蓬巴杜夫人》，是洛可可绘画的代
                                表画家布歇作于1756年。</p>
                        </div>
                        <div class="img">
                            <a onclick="window.open('images/绘画史/western/5.png ')"><img src="images/绘画史/western/5.png" width="300px" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--            第5   结束-->

            <!--            第6  开始-->
            <div class="body-text-six">
                <div class="primary" id="primary-six ">
                    <p class="component"><a href="#title">印象派绘画 </a> </p>
                    <!--                    内容-->
                    <div class="text">
                        <div class="file">
                            <p>19世纪的<strong> 印象派绘画</strong>，进入十九世纪后，绘画艺术中心移到了法国。很
                                多画家先后到法国学习和居住，如荷兰的凡高，西班牙的毕加索等。由于社会的变
                                革，文艺思潮的转变，使当时法国的绘画出现了多种画派，如学院派、新古典主义、
                                浪漫主义、写实主义等，它们对西方绘画的发展起到推动作用，但影响最大最深远的
                                是印象主义，以及新印象主义和后印象主义画派。印象派著名画家有马奈、莫奈、塞
                                尚、雷若阿、毕沙罗、德加、凡高等。下图为《日出·印象》，是印象画派创始人莫奈
                                作于1873年。</p>
                        </div>
                        <div class="img">
                            <a onclick="window.open('images/绘画史/western/6.png ')"><img src=" images/绘画史/western/6.png " width="300px" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--            第6   结束-->

            <!--            第7 开始-->
            <div class="body-text-seven">
                <div class="primary" id="primary-seven" >
                    <p class="component"><a href="#title">现代派绘画 </a> </p>
                    <!--                    内容-->
                    <div class="text">
                        <div class="file">
                            <p> 20世纪的<strong>现代派绘画 </strong>，20世纪出现了众多现代主义的思潮，在艺术理论与观念上与
                                传统绘画分道扬镳。现代主义强调主观情感的抒发，强调艺术的纯粹性及绘画语言
                                自身的价值，认为最重要的是组织画面结构，表达内在情感，营造神秘梦境。其主
                                要流派有，野兽主义、立体主义、巴黎画派、表现主义、未来主义、维也纳分离派、
                                风格主义、达达主义、形而上画派、超现实主义、至上主义、抽象表现主义、波谱艺
                                术、光效应、新超现实主义、超级写实主义等。著名画家有毕加索、马蒂斯、蒙克、
                                杜尚、蒙德里安、达利、波洛克、沃霍尔、克里姆特、巴尔蒂斯等。下图为《红、黄、
                                蓝的构成》，是是几何抽象画派先驱蒙德里安作于1930年。</p>
                        </div>
                        <div class="img">
                            <a onclick="window.open('images/绘画史/western/7.png ')"><img src=" images/绘画史/western/7.png " width="300px" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--            第7  结束-->


            <!--            第8  开始-->
            <div class="body-text-eight" id="primary-eight">
                <div class="primary" >
                    <p class="component"><a href="#title">莱比锡画派 </a> </p>
                    <!--                    内容-->
                    <div class="text">
                        <div class="file">
                            <p> 21世纪的<strong> 莱比锡画派</strong>，进入21世纪后，新莱比锡画派作品在国际艺术市场中
                                大放异彩，画价急剧攀升，供不应求。老莱比锡派上世纪70年代在西方画坛初露
                                头角，1990年代中期，毕业于莱比锡艺术学院并留校任教的尼奥·劳赫(Neo
                                Rauch，1960-)在获得一个本地艺术奖后，于2000年在纽约举办个展，以此为
                                标志，被称为新莱比锡画派的德国青年画家群体开始登上世界舞台。莱比锡画派的
                                基本特征，是追求叙事性，使用具象手法，借助不同的情节表达出神秘而模糊的
                                生活体验。下图为《停止运转》，新莱比锡画派领军人物劳赫作于2015年。</p>
                        </div>
                        <div class="img">
                            <a onclick="window.open('images/绘画史/western/8.png ')"><img src=" images/绘画史/western/8.png " width="300px" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--            第8  结束-->

        </div>
    </div>
</div>

<!--授权说明-->
<div class="footer">
    <div >
        作品来源于网络，仅供学习鉴赏使用，
        图片版权归原作者或原照片所有者或原出版社所有，如有冒犯或侵权,敬请联系删除。 &nbsp;|&nbsp;版权所有:******
    </div>
    <div >
        ©Copyright of frame design is reserved in 2022.
    </div>
</div>

</body>
</html>
