body{
    font-family: 华文细黑;
    Letter-spacing:1px;
}
.table{
    width: 100%;
    margin: auto;
    /*border: 1px solid grey;*/
    /*background-color: rgba(227, 141, 19, 0.19);*/
}
.container{

}
.form{
    position: relative;
    /*margin: auto;*/
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    /*border: 1px solid rgba(128, 128, 128, 0.59);*/
    border-radius:20px ;
    background-color: #FFFFFF;
    /*padding-left: 30px;*/
    box-shadow: 0px 1px 10px 1px rgba(127, 124, 125, 0.34);

}

/*设置卖家栏*/
.seller{
    padding-left: 40px;
    margin-top:10px ;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.seller span:nth-of-type(1){
    font-family: 黑体;
    font-size: 18px;
    font-weight: lighter;
    color: #505050;
}
.seller span:nth-of-type(2){
    color: #3a7de8;
    margin-left: 40%;
}
/*设置图片*/
.goods{
    width: 150px;
    height: 150px;
    /*border: 3px solid grey;*/
    overflow: hidden;
    border-radius: 15px;
    margin: 15px;
    margin-left: 30px;
    /*position: absolute;*/
}
.goods img{
    width: 150px;

}

/*设置标题*/
.GoodsName{
    display: flex;
    position: absolute;
    margin-top: 20px;
    /*float: right;*/
    margin-left: 200px;
    font-size: 22px;
}
/*设置描述*/
.explain{
    display: flex;
    position: absolute;
    /*float: right;*/
    margin-top: -115px;
    margin-left: 200px;
    font-size: 15px;
}
/*设置数量*/
.plussub{
    display: flex;
    position: absolute;
    /*float: right;*/
    margin-top: -80px;
    margin-bottom: 50px;
    margin-left: 200px;
    font-size: 15px;
}
/*数字设置*/
.quantity{
    /*margin-left:10px;*/
    /*margin-bottom:50px;*/
    width:40px;
    text-align:center;
    background: rgba(112,112,112,0.5);
    color: whitesmoke;
}

/*设置价格*/
.price{
    color: #d9534f;
    font-size: 20px;
    display: flex;
    position: absolute;
    /*float: right;*/
    margin-top: -80px;
    margin-left:50%;
}
/*设置编号*/
.number{
    margin-left: 200px;
    margin-bottom: 20px;
    position: absolute;
    margin-top: -35px;
}
/*设置时间*/
.date{
    margin-left: 550px;
    margin-bottom: 20px;
    position: absolute;
    margin-top: -35px;
}
/*操作设置*/
.operate{
    list-style: none;
    /*position: absolute;*/
    margin-left: 50%;
    /*list-style: none;*/
    /*display: none;*/
}
.operate:nth-of-type(1){
    display: flex;
    position: absolute;
    float: right;
    margin-top: -80px;
    margin-left: 65%;
    /*display: none;*/
}
.operate img{
    position: absolute;
    margin-top: -50px;
}
.delete{
    color: #3a7de8;
    font-size: 15px;
    margin-right: 30px;
}
.detail{
    color: #3a7de8;
    font-size: 15px;
    margin-right: 30px;
}


/*删除弹窗*/
.isDelete{
    width: 100vw;
    height: 100vh;
    /*border: 1px solid slateblue;*/
    background-color: rgba(183, 124, 105, 0.11);
    /*display: block;*/
    position: absolute;
    /*top:-20%;*/
    display: none;
}
.dialog-wrap{
    /*margin: auto;*/
    margin-top: 30vh;
    margin-left: 30vw;
    width: 400px;
    border: 1px solid grey;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.42);
    /*height: 50%;*/
    /*border: 1px solid slateblue;*/
    background-color: rgb(255, 255, 255);
}
.dialog-header{
    padding-top: 20px;
    /*margin-top: 50px;*/
    text-align: center;
    /*font-size: 25px;*/
}
.closer{
    margin-right: 20px;
    margin-top: -20px;
    opacity: 1;
    background-color: #6d6d6d;
}
.closer:hover{
    opacity: 0.8;
}
.dialog-footer{
    margin: auto;
}
/*确定按钮*/
.dialog-footer button{
    border: #FFFFFF;
    border-radius: 5px;
    padding: 6px 20px;
    color: #FFFFFF;
    background: #b77c69;
    transition: 0.3s;
    margin: 15px;
}
.dialog-footer button:hover{
    padding: 7px 22px;
    background-color: rgb(206, 143, 120);
    cursor:pointer;
}

/*取消上传按钮*/
.dialog-footer span {
    margin-left: 50px;
    display: inline-block;
    border-radius: 5px;
    padding: 6px 20px;
    color: #FFFFFF;
    background-color:#b77c69;
    cursor: pointer;
    transition: 0.3s;
}
.dialog-footer span:hover{
    padding: 7px 22px;
    background-color: rgb(206, 143, 120);
    cursor:pointer;
}

