body{
    background-color: #fff9f9;
}

.main{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #454545;
    background: rgba(255, 255, 255, 0.4);

}
.main > img{
    width: 80%;
    padding-left: 10%;
}